.about {
  margin: 0 auto;
  width: 81.25%;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.about__list {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__item {
  padding: 40px 0 0 0;

  &--flower {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/icon-feature-flower.svg");
      width: 32px;
      height: 37px;
    }
  }

  &--skein {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/icon-feature-ball.svg");
      width: 35px;
      height: 34px;
    }
  }

  &--money {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/icon-feature-money.svg");
      width: 47px;
      height: 27px;
    }
  }

  &--rocket {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/icon-feature-rocket.svg");
      width: 55px;
      height: 23px;
    }
  }

  &--heart {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/icon-feature-heart.svg");
      width: 34px;
      height: 27px;
    }
  }

  &--gift {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/icon-feature-gift.svg");
      width: 33px;
      height: 32px;
    }
  }
}


@media (min-width: $tablet-width) {
  .about {
    width: 87%;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .about__item {
    padding-top: 30px;
    width: 334px;
  }

  &--skein {
    order: 1;
  }

  &--money {
    order: 2;
  }

  &--rocket {
    order: 3;
  }

  &--heart {
    order: 4;

    span {
      width: 300px;
      display: inline-block;
    }
  }

  &--gift {
    order: 5;

    span {
      width: 271px;
      display: inline-block;
    }
  }
}

.about__item-text {
  width: 300px;
  display: inline-block;
}

@media (min-width: $desktop-width) {
  .about {
    //width: 1150px;
    //width: 60.87%;
    width: 700px;
    margin: 0 auto;
  }

  .about__item {
    width: 45%;
  }
}
