.comment {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;

  .comment__title {
    order: 0;
  }

  .comment__slider {
    order: 1;
  }

  .comment__link {
    order: 2;
  }

  .comment__previous,
  .comment__next {
    width: 49%;
    border: none;
  }
}

.comment__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  list-style: none;
}

.comment__slider {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  list-style: none;
}

.comment__author-fullname {
  font-weight: 700;
}

.comment__link {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}
@media (min-width: $tablet-width) {
  .comment {
    background-image: url("/source/img/review@1x.jpg");
    background-repeat: no-repeat;
    padding: 3%;

    .comment__title {
      order: 0;
    }

    .comment__slider {
      order: 2;
    }

    .comment__link {
      order: 1;
    }

    .comment__previous,
    .comment__next {
      width: 49%;
      border: none;
    }
  }

  .comment__title {
    display: inline-block;
    margin-right: 60%;
  }

  .comment__link {
    display: inline-block;
    width: 175px;
    margin: 0 auto;
    padding: 10px 20px;
  }

  .comment__author {
    margin-right: 20%;
    width: 260px;
  }

  .comment__control-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .comment__previous,
  .comment__next {
    width: 50px;
    display: inline-block;
    padding: 0;
    border: none;

    //.comment__next-text,
    //.comment__previous-text {
    //}
  }
}

@media (min-width: $desktop-width) {
  .comment {
    margin: 0 5%;
  }
}
