.comment__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  list-style: none;
}

.comment__item {
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  list-style: none;
}

.comment__author-fullname {
  font-weight: 700;
}

.comment__link {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
