.contacts {
  margin: 0;
  padding: 0;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  list-style: none;
}

.contacts__list {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  list-style: none;
}

.contacts__link {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 10%;
}

.contacts__map-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

@media (min-width: $tablet-width) {
  .contacts {
    position: relative;
    padding: 3%;
    padding-bottom: 0;
    display: flex;
  }

  .contacts__map-wrapper {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  .contacts__link {
    font-size: 17px;
    display: block;
    margin: 30px auto;
    width: 237px;
    position: absolute;
    top: 55%;
    left: 8%;
  }

  .contacts__list {
    width: 50%;
  }

  .contacts__item {
    display: flex;

    .contacts__item-type {
      padding-right: 3%;
    }
  }
}
