.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  list-style: none;
}

.contacts__list {
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  list-style: none;
}

.contacts__link {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}
