.nice-things {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #fafafa;
  background-repeat: no-repeat;
  color: black;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  min-height: 373px;
  margin: 0 auto;
}

.nice-things__catalog {
  background-image: none;
}

.nice-things__item {
  position: relative;
  background-color: $accent;
  padding: 10px 5%;

  &--darker {
    background-color: #56c3b2;
  }
}

.nice-things__title {
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  color: #010000;
  margin: 0 auto;
  margin-top: 20px;
}

.nice-things__title-content {
  display: inline-block;
  width: 259px;
}

.nice-things__list {
  list-style: none;
  //margin: 0;
  padding: 0;
  font-size: 0;
  width: 100%;
  margin-top: auto;
}

.nice-things__link {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  display: block;

  .nice-things__link-text {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 10%;
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
    background-image: url("../img/icon-interior.svg");
    right: 5%;
  }

  &--interior::before {
    width: 20%;
    height: 100%;
    background-image: url("../img/icon-toy.svg");
  }
}

.nice-things__link-text {
  width: 111px;
  display: block;
}

.nice-things__image {
  margin: 0 auto;
  display: block;
}

@media (min-width: $tablet-width) {
  .nice-things {
    position: relative;
    top: -20px;
    z-index: -1;
    background-color: #fafafa;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: bottom;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 34px;
      z-index: 2;
    }
  }

  .nice-things__title {
    top: 15%;
  }

  .nice-things__image {
    width: 1150px;
  }

  .nice-things__list {
    display: flex;
  }

  .nice-things__item {
    width: 100%;
    min-height: 119px;
  }

  .nice-things__link {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .nice-things {
    width: 1150px;

    &::before {
      bottom: -1px;
    }
  }
}
