.nice-things {
  background-color: #fafafa;
  //background-image: url("/source/img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  color: black;

  &__catalog {
    background-image: none;
  }
}

.nice-things__item {
  background-color: $accent;

  &--darker {
    background-color: #56c3b2;
  }
}

.nice-things__title {
  font-size: 27px;
  line-height: 30px;
  color: #010000;
}

.nice-things__list {
  list-style: none;
}

.nice-things__link {
  color: #ffffff;
  text-decoration: none;
}

//.nice-things__image {
//  background-image: url("/source/img/hero-mobile@1x.jpg");
//}
