.popup {
  .popup__cart-wrapper {
    background-color: #ffffff;
    width: 320px;
    height: 336px;
  }

  .popup__cart-wrapper-title {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
  }
}
