.footer {
  background-color: #f1f1f1;
  padding-top: 25px;
  //width: 100%;
  //margin: 0 auto;
}

.footer-wrapper {
  padding: 0 30px;
}

.footer__developer-title {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  list-style: none;
  margin-right: 16px;
}

.footer__socials-list-wrapper {
  padding: 0 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid #dedede;
  padding-bottom: 22px;
  //width: 80%;
}

.footer__developer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  padding: 16px 0 20px 0;

  .developer__logo {
    padding: 0;
    width: 42px;
    height: auto;
    object-position: 6px 2px;
  }
}

.developer__copyright {
  margin: 0;
  padding: 0;
}

.footer__logo {
  display: none;
}

.footer__socials-list {
  display: inline-block;
  margin-left: 19px;
  margin-right: 22px;
}

@media (min-width: $tablet-width) {
  .footer {
    //width: 100%;
  }

  .footer-wrapper {
    //width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    display: inline-block;
  }

  .footer__logo,
  .developer {
    width: 33.3333%;
    display: block;
  }

  .footer__developer,
  .footer__socials-list-wrapper {
    padding: 0;
    border: none;
    width: 33.3333%;
  }
}

@media (min-width: $desktop-width) {
  .footer-wrapper {
    width: 1050px;
    //width: 91.305%;
  }
}
