.catalog__title-box {
  background-color: #f1f1f1;
  min-height: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.catalog__title {
  text-align: center;
  margin: 0;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0 30px;
}

.catalog__list-item {
  margin: 0 auto 20px;
  width: 260px;
  //min-height: 374px;
}

.catalog__item-link {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  display: block;
  //text-align: center;
  text-decoration: none;
}

.catalog__image {
  background-image: url("/source/img/photo-hare-mobile@1x.jpg");
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}

.catalog__item-content-wrapper {
  margin: 0 26px;
}

.catalog__description-wrapper {
  border-bottom: 1px solid red;
  margin: 0 0 20px;
}

.catalog__item-description {
  display: block;
  position: relative;
  //margin-bottom: 20px;
  padding-bottom: 20px;
  //text-align: center;

  //&::before {
  //  position: absolute;
  //  content: "";
  //  bottom: 0;
  //  width: 80%;
  //  height: 1px;
  //  background-color: #ececec;
  //  max-width: 204px;
  //  left: 50%;
  //  transform: translateX(-50%);
  //}
}

.catalog__item-cart-panel {
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 260px;
  margin: 0 auto;

  svg {
    padding-right: 20px;
  }
}

@media (min-width: $tablet-width) {
  .catalog__title-box {
    position: relative;
    background-color: #f1f1f1;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: bottom;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 34px;
      z-index: 2;
    }
  }

  .catalog__title {
    text-align: center;
  }

  .catalog__list {
    padding: 0 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__list-item {
    width: 100%;
    display: flex;
  }

  .catalog__item-content-wrapper {
    width: 50%;
    text-align: left;
    padding: 0 26px;
    display: flex;
    flex-direction: column;
  }

  //.catalog__image-link {
  //  display: flex;
  //  font-size: 17px;
  //  line-height: 24px;
  //  font-weight: 700;
  //  text-decoration: none;
  //  color: #000000;
  //}

  .catalog__image {
    margin: 0;
    height: auto;
    width: 333px;
    max-width: none;
    flex-shrink: 0;
  }

  .catalog__image-wrapper {
    width: 50%;
  }

  .catalog__description-wrapper {
    flex-grow: 1;
  }

  .catalog__item-link {
    //display: block;
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  .catalog__item-description {
    font-size: 13px;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    text-align: left;
    padding-bottom: 100px;

    &::before {
      max-width: 100%;
    }
  }

  .catalog__item-cart-panel {
    margin: 0;
    padding-left: 0;
    max-width: none;
    width: 100%;
  }

  .catalog__item-price {
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1150px;
    margin: 0 auto;
  }

  .catalog__title-box {
    background-color: #f1f1f1;
    padding: 0;
  }

  .catalog__title {
    text-align: center;
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
  }

  .catalog__list {
    padding: 0 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 659px;
    width: 317px;
    margin: 0;
  }

  .catalog__image {
    margin: 0;
    width: 316px;
    height: 462px;
  }

  .catalog__description-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 10%;

    > * {
      padding-left: 0;
    }
  }

  .catalog__item-link {
    text-align: center;
  }

  .catalog__item-description {
    padding-bottom: unset;
    text-align: center;

    &::before {
      display: none;
    }
  }

  .catalog__item-content-wrapper {
    width: 100%;
  }

  .catalog__item-cart-panel {
    margin-top: auto;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: 65px;
      width: 80%;
      height: 1px;
      background-color: #ececec;
      max-width: 204px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .catalog__item-price {
    margin: 0;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
  }
}
