.manufacture {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
}

.manufacture__title-box {
  border: 1px solid #ececec;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
}

.manufacture__title {
  position: relative;
  text-align: left;
  margin: 0 auto;
  width: 131px;
  padding: 20px;
  padding-left: 70px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;

  &::before {
    position: absolute;
    content: "";
    top: 25px;
    left: 25px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
    //background-size: cover;
  }
}

.manufacture__wrapper {
  margin: 0 auto;
  position: relative;

  .manufacture__wrapper-play {
    position: absolute;
    content: "";
    top: 36px;
    left: 80px;
    width: 101px;
    height: 77px;
    background-image: url("../img/icon-play.svg");
    background-size: cover;
    border: none;
  }
}

.manufacture__wrapper-image {
  margin: 0;
  box-sizing: border-box;
  display: block;

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.manufacture__button {
  display: block;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  color: $black;
  margin: 0 auto;
  margin-bottom: 30px;

  &--play {
    background-color: $accent;
  }
}

.manufacture__description {
  display: block;
  padding-left: 30px;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .manufacture {
    margin: 0 auto;
    padding: 0 30px;
  }

  .manufacture__title-box {
    //margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .manufacture__wrapper {
    order: 0;
    margin: 0 auto;
    margin-bottom: 20px;

    .manufacture__wrapper-play {
      position: absolute;
      content: "";
      top: 190px;
      left: 283px;
      width: 102px;
      height: 78px;
      background-image: url("../img/icon-play.svg");
      background-size: cover;
    }
  }

  .manufacture__wrapper-image {
    margin: 0 auto;
    width: 668px;

    &--tablet {
      display: inline-block;
    }

    &--desktop {
      display: none;
    }
  }

  .manufacture__title-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .manufacture__title {
    order: 1;
    width: auto;
    text-align: left;
    padding-left: 100px;
    margin-bottom: 20px;
  }

  .manufacture__description {
    order: 2;
    width: auto;
    text-align: left;
    padding-left: 80px;
    margin-bottom: 20px;
  }

  .manufacture__button {
    display: block;
    order: 3;
    margin: 0 auto;
    width: 90%;
  }
}

@media (min-width: $desktop-width) {
  .manufacture {
    margin: 0 auto;
    padding: 0 30px 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 1150px;
  }

  .manufacture__title-box {
    position: relative;
    min-height: 446px;
    padding: 0;
    margin: 0;
    width: 700px;
  }

  .manufacture__title {
    margin: 0;
    order: 1;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    width: 130px;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;

    &::before {
      position: absolute;
      content: "";
      top: 10px;
      left: 25px;
      width: 32px;
      height: 32px;
      background-image: url("../img/icon-video.svg");
      //background-size: cover;
    }
  }

  .manufacture__wrapper {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 700px;

    .manufacture__wrapper-play {
      position: absolute;
      content: "";
      top: 188px;
      left: 290px;
      width: 101px;
      height: 78px;
      background-image: url("../img/icon-play.svg");
      background-size: cover;
    }
  }

  .manufacture__wrapper-image {
    margin: 0;
    width: 682px;

    &--tablet {
      display: none;
    }

    &--desktop {
      display: inline-block;
    }
  }

  .manufacture__title-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 350px;
    padding: 30px;
  }

  .manufacture__button {
    order: 3;
    padding: 0;
    margin: 0;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: none;
    color: $black;

    &--play {
      background-color: $accent;
    }
  }

  .manufacture__description {
    order: 2;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    width: 240px;
  }
}
